.bg::after{
content:"";
position:absolute;
inset:0;
background:rgba(0,0,0,0.45);
}

.bg::after{
content:"";
position:absolute;
inset:0;
background:rgba(0,0,0,0.45);
}

nav{
position:fixed;
top:0;
width:100%;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background: #000096C7 (0,0,0,.6);
backdrop-filter:blur(10px);
z-index:999;
}

nav h2{font-weight:700;}

nav ul{list-style:none;display:flex;gap:18px;}
nav a{color:#fff;text-decoration:none;font-size:14px;}
nav a:hover{color:#38bdf8;}

section{
min-height:100vh;
padding:120px 8% 60px;
display:flex;
align-items:center;
}

.container{
max-width:1100px;
margin:auto;
width:100%;
}

.hero{
display:flex;
flex-wrap:wrap;
gap:50px;
align-items:center;
}

.avatar{
width:240px;
height:240px;
border-radius:50%;
overflow:hidden;
border:5px solid #38bdf8;
box-shadow:0 0 25px #38bdf8aa;
}

.avatar img{
width:100%;
height:100%;
object-fit:cover;
}

h1{font-size:48px;}
h3{color:#38bdf8;margin-bottom:10px;}

.card-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
margin-top:30px;
}

.card{
background:rgba(255,255,255,.08);
border-radius:18px;
padding:25px;
transition:.3s;
border:1px solid rgba(255,255,255,.1);
}

.card:hover{
transform:translateY(-8px);
background:rgba(255,255,255,.12);
}

footer{
text-align:center;
padding:25px;
background:#020617;
opacity:.8;
}

